.haloween img{
    width: 20%;
}
.haloween p{
    
    text-align: center;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
.haloween{
    display: flex;
    align-items: center;
    background : #ffffff; 
    opacity:0.8;
    border-radius: 20px;
}
.noel img{
    width: 20%;
}
.noel p{
    
    text-align: center;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
.noel {
    display: flex;
    align-items: center;
    background : #ffffff; 
    opacity:0.8;
    border-radius: 20px;
}