.document a {
    color: #000000;
}
.documents{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    background : #ffffff; 
    opacity:0.8;
    border-radius: 20px;
}