/*************GENERAL******************/



h1,
h2,
h3 {
    font-weight: normal;
    line-height: 1.5em;
}

h1 {
    font-size: 5rem;
    font-weight: bold;

}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000000;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000000;
}

p,
a {
    font-size: medium;
    color: #000000;
}

/*************BODY******************/

/*- Police du corps de page : Lato (Google Font)
- Couleur du texte : #333
- Interlignage du texte : 1.6em
- Reseter les marges du body*/

body {    
    line-height: 1.6em;
    background-position: center; 
    
    
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #000000;    
    justify-content: center;
    width: 100%;
    background-image: url("../images/fontecrantcolor-removebg-preview.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;  
    height: auto;  
}

