@charset "UTF-8";
/*************HEADER****************/
/*- Alignement du texte : centré
- Ajouter un hyperlien index.html sur le logo
- Couleur de fond de la navigation : #40CCEA
- Couleur des ancres vers les sections : blanc
- Espacer les hyperliens*/
header {
  background-image: url("../images/199490002_l_normal_none-removebg-preview.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 20px;
  text-align: center;
  align-content: flex-start;
  width: 50%;
}

.header h1 {
  display: flex;
}

.header h2 {
  text-align: center;
  width: 100%;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 20px;
  text-align: center;
}

header ul {
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background: #1ca4c8;
  color: #000000;
  width: 100%;
  margin-bottom: 0px;
}

header a {
  text-decoration: none;
  color: #000000;
}

.header img {
  width: 150px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 120px;
}

.ape {
  font-family: "Parisienne", cursive;
  color: #000000;
}

.v {
  color: #44f444;
  text-shadow: 3px 3px #000000;
}

.j {
  color: #3da2e5;
  text-shadow: 3px 3px #000000;
}

/*effet barre d'accueil*/
.accueil {
  padding-top: 150px;
  width: 100%;
}

li:hover {
  background-color: #000000;
  transform: scale(1.5);
  transition-duration: 0.4s;
}

a:hover {
  color: #EB3349;
}

a {
  transition-duration: 0.2s;
}

/*************FOOTER****************/
footer {
  padding: 2em;
  color: #000000;
  margin-top: 20px;
  font-size: medium;
  border-top: dotted 1px #000000;
  background-image: url("../images/199490002_l_normal_none-removebg-preview.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer p {
  color: #000000;
}

#contact {
  display: flex;
  justify-content: space-around;
}

.network1 {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 20px;
}

.network2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 20px;
}

.fa-facebook-square {
  color: #395498;
}

.fa-twitter-square {
  color: #1c96e8;
}

.fa-pinterest-square {
  color: #e71a21;
}

.fa-instagram-square {
  background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
}

/* ************************
APE
************************* */
.presentation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}

.presentation h2 {
  color: #000000;
}

.presentation p {
  padding-left: 15xp;
  padding-right: 15px;
}

.What {
  text-align: left;
  border: 4mm ridge #f243c9;
  background-color: #f774d6;
  color: #000000;
  width: 30%;
  height: auto;
}

.Who {
  text-align: left;
  border: 4mm ridge #44f444;
  background-color: #71f271;
  color: #000000;
  width: 30%;
  height: auto;
}

.Or {
  text-align: left;
  border: 4mm ridge #14dbe5;
  background-color: #4bd8e5;
  color: #000000;
  width: 30%;
  height: auto;
}

/*****************************
NOTRE EQUIPE
**************************** */
.crew {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 4px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 0;
}

.president {
  grid-row: 2/4;
  grid-column: 5/7;
  display: flex;
  flex-direction: column;
  border: 0.5rem solid #f243c9;
  background-color: #ffffff;
  border-radius: 10px;
  width: 150px;
  height: 300px;
}

.vicePresident {
  grid-row: 5/10;
  grid-column: 4/6;
  display: flex;
  flex-direction: column;
  border: 0.5rem solid #44f444;
  background-color: #ffffff;
  border-radius: 10px;
  width: 150px;
  height: 300px;
}

.vicePresident1 img,
.president1 img {
  width: 100px;
  height: auto;
  border: thick double #000000;
  border-radius: 100%;
  margin-top: 5px;
}

.vicePresident h3,
.president h3,
.treasurer h3,
.secretary h3,
.assistantSecretary h3 {
  margin-bottom: 0;
}

.vicePresident p,
.president p,
.treasurer p,
.secretary p,
.assistantSecretary p {
  margin-top: 0;
}

.treasurer {
  grid-row: 3/5;
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  border: 0.5rem solid #eea830;
  background-color: #ffffff;
  border-radius: 10px;
  width: 150px;
  height: 300px;
}

.secretary {
  grid-row: 3/5;
  grid-column: 7/9;
  display: flex;
  flex-direction: column;
  border: 0.5rem solid #1dd1e5;
  background-color: #ffffff;
  border-radius: 10px;
  width: 150px;
  height: 300px;
}

.assistantSecretary {
  grid-row: 5/10;
  grid-column: 6/8;
  display: flex;
  flex-direction: column;
  border: 0.5rem solid #f0f731;
  background-color: #ffffff;
  border-radius: 10px;
  width: 150px;
  height: 300px;
}

.crew p {
  margin-bottom: 0px;
  padding-bottom: opx;
  color: #000000;
}

.crew h3 {
  margin-top: 0px;
}

.document a {
  color: #000000;
}

.documents {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: flex-start;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 20px;
}

/*************AGENDA****************/
.video {
  margin-top: 20px;
  display: block;
  text-align: center;
}

.diary h2 {
  background-color: #e6aa02;
  width: 100%;
  font-size: 30px;
}

.agenda {
  display: flex;
  align-content: space-evenly;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.diary h3 {
  color: #000000;
  font-size: 30px;
}

.agenda ul {
  font-size: large;
  color: #000000;
}

.agenda p {
  font-size: large;
}

.dates {
  width: 100px;
  height: 100px;
  background-color: #e11377;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 50px;
}

.date {
  display: flex;
  flex-direction: row;
  width: 30%;
  background: #ffffff;
  border-radius: 20px;
  margin: 20px;
  padding-top: 5px;
  justify-content: flex-start;
}

.date p {
  margin: 0;
}

/*************PHOTO****************/
.commandes {
  height: 500px;
}

/*************GENERAL******************/
h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1.5em;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000000;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000000;
}

p,
a {
  font-size: medium;
  color: #000000;
}

/*************BODY******************/
/*- Police du corps de page : Lato (Google Font)
- Couleur du texte : #333
- Interlignage du texte : 1.6em
- Reseter les marges du body*/
body {
  line-height: 1.6em;
  background-position: center;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #000000;
  justify-content: center;
  width: 100%;
  background-image: url("../images/fontecrantcolor-removebg-preview.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.haloween img {
  width: 20%;
}

.haloween p {
  text-align: center;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.haloween {
  display: flex;
  align-items: center;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 20px;
}

.noel img {
  width: 20%;
}

.noel p {
  text-align: center;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.noel {
  display: flex;
  align-items: center;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 20px;
}/*# sourceMappingURL=styles.css.map */